.overlay {
    background-color:#ccc;
    opacity:0.8;
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    text-align: center;
}

.time{
    float: right;
}

.media-body{
    font-size: 80%;
    text-align: justify;
}
.media{
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
}

.media-heading{
    color: #337ab7;
    font-size: 120%;
    font-weight: bold;
}